@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* ===header=== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 24px;
}
.header__search {
    display: flex;
    align-items: center;
    gap: 11px;
    height: 40px;
}
.header__search:focus-within {
    border-bottom: 2px solid #E97F03;
}
.header__search:focus-within .header__search-img path{
    fill: #E97F03 ;
}
.header__search-input {}

.header__search-input::placeholder {
    color: #323232;
}
.header__search-input:focus::placeholder {
    color: transparent;
}
/* /header */



/* ===product=== */
.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.product__element {
    flex: 0 0 220px;
    height: 272px;
    position: relative;
}
.product__element:hover {
    border-radius: 10px;
    background: #F2F2F2;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.product__favorite-button {
    position: absolute;
    right: 0;
    padding: 5px;
}
.product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__img {
    padding: 71px 0px 38px 0px;
}
.product__name {
    height: 40px;
    font-size: 18px;
}
.product__price {
    font-size: 14px;
    color: #545454;
}
/* /product */


/* media requests for catalog */
@media (max-width: 692px) {
    .product__element {
        flex: 0 0 190px;
    }
}
/* /media requests for catalog */



/* ===detailed=== */
.detailed-product {
    display: flex;
    margin: 0 24px;
    gap: 16px;
}
.detailed-product__image {
    flex: 0 0 300px;
    text-align: center;
    padding: 50px 75px;
    border: 1px solid #F2F2F2;
}
.detailed-product__img {
}
.detailed-product__details {

    padding: 0px 24px 10px 24px;
}
.description__title {
    font-size: 24px;
    font-weight: 700;
}
.description__text {
    font-size: 14px;
    margin: 16px 0px 24px 0px;
}
.description__subtitle {
    font-size: 18px;
    font-weight: 700;
}
.detailed-product__add {
    display: flex;
    align-items: center;
    gap: 16px;
}
.detailed-product__price {
    color: #E97F03;
    font-size: 36px;
}

.detailed-product__controls {
    display: flex;
    align-items: center;
    gap: 16px;
}
.detailed-product__number-goods {
    display: flex;
    height: 40px;
    align-items: center;
    border: 1px solid #323232;
}

.detailed-product__decrement {
    border-right: 1px solid #323232;
}
.detailed-product__number {
    width: 100px;
    font-size: 24px;
    text-align: center;
}
.detailed-product__increment {
    border-left: 1px solid #323232;
}
.button__control  {
    color: #E97F03;
}
.detailed-product__add-to-cart {
    font-size: 24px;
    width: 160px;
    color: #FFF;
    background-color: #E97F03;
    border-radius: 10px;
    padding: 5px 0px;
}
.detailed-product__add-to-cart:hover {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #E99330;
}



/* /detailed */

/* media requests for detailed */
@media (max-width: 978px) {
    .detailed-product {
        margin: 0;
    }
    .detailed-product__image {
        flex: 0 0 100%;
        border: transparent;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.00) 50%);
    }
    .detailed-product {
      flex-wrap: wrap;
    }
    .detailed-product__controls {
        justify-content: space-between;
    }

}

@media (max-width: 500px) {
    .detailed-product__add {
        display: initial;
        position: relative;
    }
    .detailed-product__favorite {
        position: absolute;
        top: 7px;
        right: 0;
    }
    .detailed-product__price {
        margin: 0px 0px 16px 0px;
    }
}
/* /media requests for detailed */

