@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 24px;
}
.header__search {
	display: flex;
	align-items: center;
	gap: 11px;
	height: 40px;
}
.header__search:focus-within {
	border-bottom: 2px solid #e97f03;
}
.header__search:focus-within .header__search-img path {
	fill: #e97f03;
}

.header__search-input::placeholder {
	color: #323232;
}
.header__search-input:focus::placeholder {
	color: transparent;
}

.product__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
}
.product__element {
	flex: 0 0 220px;
	position: relative;
}
.product__element:hover {
	border-radius: 10px;
	background: #f2f2f2;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.product__favorite-button {
	position: absolute;
	right: 0;
	padding: 5px;
}
.product__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.product__img {
	padding: 71px 0px 38px 0px;
}
.product__name {
	text-align: center;
	flex: auto;
	font-size: 18px;
	margin: 0px 0px 15px;
}
.product__price {
	font-size: 14px;
	color: #545454;
	padding: 0px 0px 5px;
}

@media (max-width: 692px) {
	.product__element {
		flex: 0 0 190px;
	}
}
